.btns-container {
  margin-top: 10%;
  align-items: center;
}

.btn-on {
  background-color: #ecfff7;
  padding: 6%;
  border: none;
  text-align: left;
  position: relative;
  padding-left: 16px;
  overflow: hidden;
  align-items: center;
  display: flex;
  color: #44f1a6;
}

.btn-off {
  padding: 6%;
  border: none;
  text-align: left;
  position: relative;
  padding-left: 16px;
  overflow: hidden;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  display: flex;
}

.btn-off:hover {
    opacity: 0.8;
}

.line {
  position: absolute;
  left: 0%;
  top: 0;
  bottom: 0;
  width: 9px;
  background-color: #44f1a6;
  margin-top: 3%;
  margin-bottom: 3%;
}

.btn-text {
  display: flex;
  align-items: center;
  justify-content: center;
  strong {
    margin-left: 7%;
    font-weight: bold;
  }
}
