$smallScreen: 600px;
$mediumScreen: 960px;

.conteiner {
  background-color: #ffffff;
  @media screen and (max-width: $smallScreen) {
    padding: 1.5%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
  }

  @media screen and (min-width: $mediumScreen + 1) {
    padding: 0.4%;
  }
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
  margin-bottom: 1.6%;
  align-items: center;
  display: flex;
}

.logo{
  img {
    margin-left: 0.5%;
  }
}