$smallScreen: 698px;
$mediumScreen: 700px;

.conteiner {
  background-color: #ffffff;
  width: 100%;
  justify-content: center;

  @media screen and (min-width: $mediumScreen + 1) {
    margin-left: 8%;
    padding-bottom: 3%;
  }

  @media screen and (max-width: $smallScreen) {
    margin-top: 18%;
    height: 80vh;
  }
}

.cover {
  background-color: #b7f3b7;
  @media screen and (min-width: $mediumScreen + 1) {
    padding: 10%;
  }

  @media screen and (max-width: $smallScreen) {
    padding: 14%;
  }
}

.cont {
  padding-left: 2%;
}

.avatar {
  text-align: center;
  font-weight: bold;
  @media screen and (min-width: $mediumScreen + 1) {
    width: 16%;
  }

  @media screen and (max-width: $smallScreen) {
    width: 40%;
  }
}

.conteiner-edit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2%;
}

.conteiner-bio {
  padding-left: 4%;
  padding-right: 4%;
  color: rgba(0, 0, 0, 0.58);
  font-family: Roboto;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: bold;
  line-height: 150%;
  letter-spacing: 0.00938rem;
}
